<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>30218343411-jaekits5m7sp49ccc8pqri093t40466v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.30218343411-jaekits5m7sp49ccc8pqri093t40466v</string>
	<key>API_KEY</key>
	<string>AIzaSyCzxKIWa0cdYA2w8Jsp1mVcNX9qkt0yhFg</string>
	<key>GCM_SENDER_ID</key>
	<string>30218343411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techforcities.nammaChennai</string>
	<key>PROJECT_ID</key>
	<string>cep-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>cep-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:30218343411:ios:97605d523b65a3b8</string>
	<key>DATABASE_URL</key>
	<string>https://cep-dev.firebaseio.com</string>
</dict>
</plist>